### Practice List Comprehensions

This guided demo follows the lecture on list comprehensions!

#### Section 1: Basic list comprehensions

In [1]:
import numpy as np
import pandas as pd
import string

##### 1-A) Add 1 to every element in the list

In [8]:
numbers = [0,1,2,3,4,5,6,7,8,9]

nums_plus_one = [x + 1 for x in numbers]

print nums_plus_one

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Section 2: List comprehension conditional logic

##### 2-A) "Binarize" n so that any value greater than or equal to the mean of n is 1, otherwise 0

In [9]:
import numpy as np
n = [1, 2, 7, 21, 3, 1, 62, 3, 34, 12, 73, 44, 12, 11, 9]

n_mean = np.mean(n)

n_bin = [1 if x >= n_mean 
         else 0 for x in n]
print n_bin

[0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0]

##### 2-B) Swap 1s to 0s and 0s to 1s. If the element is neither a 0 nor 1, make it None

In [11]:
n = [0, 1, 0, 1, 2, 3, 5, 2, 1, 0]

bin_or_none = [0 if x == 1 
               else 1 if x == 0 
               else None for x in n]

print bin_or_none

[1, 0, 1, 0, None, None, None, None, 0, 1]

#### Section 3: Nested list comprehensions

##### 3-A) Get the square and square root of all non-negative numbers in the list

In [21]:
import numpy as np

n = [0, 1, 50, -23, -1, 75, -3]

n_sqaure_sqrt = [[x ** 2, np.sqrt(x)]  for x in n if x > 0]
print n_sqaure_sqrt

[[1, 1.0], [2500, 7.0710678118654755], [5625, 8.6602540378443873]]

In [24]:
movies = [
    {'name' : 'movie_a', 'genre' : 'thriller'},
    {'name' : 'movie_b', 'genre' : 'thriller'},
    {'name' : 'movie_c', 'genre' : 'horror'},
    {'name' : 'movie_d', 'genre' : 'thriller'},
    ]

thrillers = [movie['name'] for movie in movies if movie['genre'] == 'thriller']

In [25]:
thrillers

['movie_a', 'movie_b', 'movie_d']

#### Section 4: Functions in list comprehensions

##### 4-A) Combine elements of these two lists item by item into list pairs

In [22]:
a = ['a','b','c','d']
z = ['z','y','x','w']

list_pairs = [[x, y] for x, y in a, z]

print list_pairs

ValueError: too many values to unpack

##### 4-B) Pair each index and element of this list into list pairs

In [ ]:
a = ['a','b','c','d']

##### 4-C) For each element of each list, calculate the first list element times the index divided by the element of the second list

In [ ]:
list_one = [10, 15, 20, 25, 40]
list_two = [1, 2, 3, 4, 5]

#### Section 5: Nested list comprehensions

##### 5-A) Create all the alphabet "syllables" defined as consonant-vowel pairs in a flattened list [USING FOR LOOP ITERATION]

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']
alphabet = string.ascii_lowercase

##### 5-B) Create all the alphabet "syllables" defined as consonant-vowel pairs in a flattened list [USING A LIST COMPREHENSION]

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']
alphabet = string.ascii_lowercase

#### Section 6: Dictionary comprehensions

##### 6-A) Make a dictionary where keys are animals and values are lists with the number value of each character in the key

Hint: use the **ord()** function to convert characters to numbers.

In [ ]:
keys = ['dog', 'cat', 'bird', 'horse']

##### 6-B) Create a pandas dataframe with these column names and corresponding column values

In [ ]:
column_names = ['height','weight','is_male']
values = [[62, 54, 60, 50], [180, 120, 200, 100], [True, False, True, False]]